.Author-modal{
	left: 14rem;
	border: 1px solid lightgray;
	width: 17rem;
	overflow-y: auto;
    max-height: 20rem;
	background: white;
}

.Author-item{
	display: block;
	height: 1.5rem;
	padding-top: .3rem;
	text-align: left;
	font-size: .8rem;
}

.Author-search{
	height: 1.5rem;
	width: 16rem;
	border: .2rem solid rgb(119, 142, 243);
	border-radius: .3rem;
	margin-top: .1rem;
	margin-bottom: .1rem;
}

.Author-itemAvatar {
	padding-left: 2rem;
	padding-right: .5rem;
	border-radius: 3px;
    display: inline-block;
    height: 20px;
    width: 20px;
}