/*=========Main container=========*/

.IssueList-mainContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 14.5rem 3em 14.5rem;
  padding: 0;
  margin-top: 50px;
  flex: auto;
  flex-direction: column;
}

/*=========Container Header=========*/

.IssueList-header {
  display: flex;
  box-sizing: border-box;
  flex-basis: 100%;
  width: 100%;
  border: 1px solid lightgray;
  background-color: #f6f8fa;
  height: 3rem;
  justify-content: center;
}

.IssueList-headerItemSpacer{
  width: 16rem;
}

/*=========Buttons=========*/

.IssueList-headerItemArrow {
  display:inline-block;
  width: 0; 
  height: 0; 
  border-left: .3rem solid transparent;
  border-right: .3rem solid transparent;
  border-top: .3rem solid #586069;
}

button {
  display: inline-block;
  border: none;
  font-size: 1rem;
  background-color: transparent;
  color: #586069;
  outline: none;
  text-decoration: none;
  font-weight: normal;
  height: 3rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  font-weight: 500;
}

button:active {
  font-weight: bold;
  border: none;
}

.IssueList-headerItem svg{
  transform: translateY(.15rem);
  padding-right: .5rem;
}